<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Chatbot | Bill Ni and Joshua Weiner </title>
  </head>
  <body>

    <div>
        <h1 style="color:#db3236; font:Georgia;">Chatbot</h1>
        <h3>A project by: Bill Ni and Joshua Weiner</h3>
        <div id="chatbox">
        </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <br>
      <br>
      <h4>Use this program by entering text. It's as simple as that! Usually, you will be able to carry on conversations just fine. However, sometimes you may encounter that Jesse (our chat bot) does not know what to do with what you said. They will guide you through choosing the appropriate category of your input.</h4>
        <ul><li>If you find the topic of the categories unsuitable, just type in a new category and Jesse will learn to incorporate it.</li>
          <li>If you are prompted for your name, name the category using "camel" notation: meaning lowercase first name and uppercase first letter of your last name</li>
          <li>Once prompted for the category, you will be asked with one way Jesse can respond to your input. Think of what's most appropriate, it will help Jesse learn!</li></ul>
      <script src = "../static/js/peekaboo.js">
      </script>

    </div>
  </body>
</html>
